


// ----- colors of dashboard ------

$main-color:#00395a;
$main-color-text:#ffffffef;
$white-color:rgb(230, 230, 230);
$black-color:rgb(100, 98, 98);
$bg-color:#b5c1ff;
$btn-bg-color:#ffffffec;
$btn-opacity-color:#84adf8;


// ----- colors of home page ------

$home-bg-color:#0067F0;


// ----- font family of title  ------

$font-title :'Dancing Script', cursive;
$font-text:'Source Code Pro', monospace;









