

.nav-user{
    position: relative;
    left: 0;
    top: 0;
    z-index: 2222222222222222;
    width: 100vw !important;
    background-color: $home-bg-color !important;
    a,button{
        color: #ABCDEC !important;    
        font-family: $font-text;    
        font-weight: bolder;
    }
    img{
        cursor: pointer;
    }
    h2{
        font-family: $font-title;
        font-weight: bolder;
    }
}

// -------------- style main
.custom-shape-divider-bottom-1646513502 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    background-color: $home-bg-color;
}

.custom-shape-divider-bottom-1646513502 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    max-height: 84px;
}

.custom-shape-divider-bottom-1646513502 .shape-fill {
    fill: #FFFFFF;
}
 

//--------------- stye search


 .search-content{
     border: 1px solid $home-bg-color;
     border-radius: 10px;
 }

.categories{
    margin-top: 100px;
}


@media screen and (max-width:800px) {
    .welcome{
        display: none !important;
    }
}







