.reserv-slide{
    background-color: $bg-color;
    height: 100px;
    border-radius: 10px;
    margin-top: 10px;
    overflow: hidden;

    img{
        margin-top: 10px;
    }
    button{
        background-color: $btn-bg-color;
        border: none;
        margin-top: 10px;
    }
    button:hover{
        background-color: $btn-opacity-color;
    }
   
    .main-slide-content div:first-child{
        padding: 20px 20px 20px 40px;
        text-align: left;
    }
    .main-slide-content div:last-child{
        text-align: center;
    }
}
